body{
    background-color: black;
}


h1{
    letter-spacing: 10px;
    font-size: 4rem;
}

header{
    background:linear-gradient(transparent, black), url(./media/header.jpg);
    background-size: cover;
    background-position: center;
}

ul{
    list-style-type: none;
}


nav{
    z-index: 999;
}
.footer-custom{
    height: 300px;
}

@media screen and( max-width: 670px){
    h1{
        font-size: 2rem;
    }
    .list-footer{
        justify-content: start !important;
    }
}